# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local
.env
.env.development
.env.production

# Firebase
.firebase/
firebase-debug.log
firestore-debug.log
database-debug.log
ui-debug.log
firebase-debug.*.log

# IDE files
.vscode/
.idea/
*.swp
*.swo
*~

# Logs
logs
*.log

# Coverage directory
coverage/

# typescript
*.tsbuildinfo

# Temporary folders
tmp/
temp/

# Build artifacts
build/

# Android specific
android/app/build/
android/.gradle/
android/gradle/
android/gradlew
android/gradlew.bat
!android/gradle/wrapper/gradle-wrapper.properties

# iOS specific
ios/Pods/
ios/build/
ios/.xcode.env.local
